@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.pokemon-container {
  /* margin: auto; */
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 1fr min-content; */
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  /* grid-column-gap: 100px; */
}

.pokemon-card {
  background-color: #282c34;
  width: 200px;
  border: 2px solid blue;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
